################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/bookfy/FileContentIndex
/.vs/bookfy/v17/.suo
/.vs/bookfy/FileContentIndex/15044472-9902-45c5-a4fc-14c2ee80d27f.vsidx
/.vs/bookfy/FileContentIndex/15044472-9902-45c5-a4fc-14c2ee80d27f.vsidx
